name: Python Lint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ricardochaves/python-lint@test
      with:
        python-root-list: 'python_alelo tests'
        use-pylint: true
        use-pycodestyle: false
        use-flake8: true
        use-black: true
        use-mypy: false
        use-isort: true