name: Python Lint

on: [push, pull_request]

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2

    - name: Install python version
    - uses: actions/setup-python@v2
        with:
          python-version: 3.8

    - name: Run isort
        run: |
          pip install isort
          isort .

    - name: Run flake8
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        flake8 .


