name: Unit-Testing

# on: [push, pull_request]
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Unit-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install python version
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: DVC pull
        run: dvc pull

      - name: Run coverage with pytest
        run: |
          pip install pytest
          pip install coverage
          coverage run --source=. -m pytest
          coverage report -m